<h3>Callback listing</h3>
<table class='datatable'>
  <thead>
    <tr>
      <th>Time</th>
      <th>GUID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @marvin_callbacks.each do |mcb| %>
    <tr class='<%= mcb.import_status.downcase.tr(' ', '_') %>'>
      <td><%= Time.at(mcb.timestamp) %></td>
      <td><%= mcb.guid %></td>
      <td><%= mcb.import_status %></td>
    </tr>

    <% end %>
  </tbody>
</table>
