<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= link_to "Change your password", edit_user_registration_path, class: 'button tiny radius round' %>
